In [9]:
#import pandas library for tables and database related file
import pandas as pd

In [27]:
#call function in class/correct file name with location
dataset=pd.read_csv("Salary_Data.csv")

In [28]:
dataset
#check dataset

    YearsExperience  Salary
0               1.1   39343
1               1.3   40205
2               1.5   39970
3               2.0   40800
4               2.2   41000
5               2.5   43000
6               3.0   44000
7               3.2   44000
8               3.2   44250
9               3.7   48000
10              3.9   48500
11              4.0   47000
12              4.0   48000
13              4.1   50500
14              4.5   51000
15              4.9   51000
16              5.1   52000

In [29]:
#assign  independent variable
independent=dataset[["YearsExperience"]]

In [30]:
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.5
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1

In [31]:
#assign  dependent variable
dependent=dataset[["Salary"]]

In [32]:
dependent

    Salary
0    39343
1    40205
2    39970
3    40800
4    41000
5    43000
6    44000
7    44000
8    44250
9    48000
10   48500
11   47000
12   48000
13   50500
14   51000
15   51000
16   52000

In [33]:
#split training set and test set/used sk learn library/x_train,x_test,y_train,y_test=variable name
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [34]:
#create model/ regressor=variable name/LinearRegression()=class/// 2 line procedure/fit function
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [35]:
weight=regressor.coef_
weight

array([[3334.64949243]])

In [36]:
bias=regressor.intercept_
bias

array([34748.30578433])

In [37]:
#evaluate our model
y_pred=regressor.predict(x_test)

In [38]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [39]:
r_score

0.8795749864100948

In [40]:
#save our model
import pickle
filename="finalized_model_linear.sav"

In [41]:
pickle.dump(regressor,open(filename,'wb'))

In [45]:
#after save model once load and check
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
result=loaded_model.predict([[17]])

C:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [46]:
#result check
result

array([[91437.34715572]])

In [ ]:
#next go to phase2